{
  "presets": [],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "utilsDir": "./utils",
        "stylesDir": "./client/styles",
        "appDir": "./client/apps",
        "sysDir": "./client/apps/sys",
        "bmDir": "./client/apps/bm",
        "componentsDir": "./client/components",
        "imageDir": "./client/static/images",
        "apiDir": "./client/utils/api",
        "utils": "./client/utils/utils",
        "routes": "./client/apps/routes"
      }
    }]
  ]
}
