.content {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border: 1px solid #666;
  text-align: center;
  padding: 10px;
}
a {
  text-decoration: none;
  padding-bottom: 10px;
}

.fuc-component {
  color: blueviolet;
}

.class-component {
  color: red;
}

